@model Boku.Web.Models.ChangePasswordModel

@{
    ViewBag.Title = "Boku - Reset Password";
}

<h2>Her kan du nulstille dit password.</h2>

<p>
    Passwords skal minimum være @Membership.MinRequiredPasswordLength karakterer.
</p>

@Scripts.Render("~/bundles/jqueryval")

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true, "Password reset mislykkedes. Ret fejlene og prøv igen.")

    <p>
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword)
                @Html.ValidationMessageFor(m => m.OldPassword)
    </p>
            <p>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
                @Html.ValidationMessageFor(m => m.NewPassword)
            </p>
    <p>
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword)
        @Html.ValidationMessageFor(m => m.ConfirmPassword)
    </p>
        <p class="label-align">
        <input class="button" type="submit" value="Reset password" />
        </p>
}
