@model Boku.Models.LoginModel

@{
    ViewBag.Title = "Boku - Log ind";
}

<h2>Log ind</h2>

<p>Indtast brugernavn og password.</p>

@Scripts.Render("~/bundles/jqueryval")

@using (Html.BeginForm((string)ViewBag.FormAction, "Account")) {
    @Html.ValidationSummary(true, "Log ind mislykkedes. Ret fejlene og prøv igen.")

    <p>
        @Html.LabelFor(m => m.UserName)
        @Html.TextBoxFor(m => m.UserName)
        @Html.ValidationMessageFor(m => m.UserName)
    </p>
    <p>
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password)
        @Html.ValidationMessageFor(m => m.Password)
    </p>
    <p>
        @Html.CheckBoxFor(m => m.RememberMe)
        @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
    </p>    
    <p class="label-align">
        <input class="button" type="submit" value="Log ind" /></p>
    <p>
        @Html.ActionLink("Opret bruger", "Register") hvis du ikke har en profil.
    </p>
}
