<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>boku - Opskrifter og meget mere</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        @Styles.Render("~/Content/css", "~/Content/themes/base/css")
        @Scripts.Render("~/bundles/jquery", "~/bundles/specific")
        <meta name="viewport" content="width=device-width" />
    </head>
    <body>
        <div id="wrap">
            <div id="header">
                <div class="middle">
                <h1><a href="/" title="Home">boku</a></h1>
                    <ul id="menu">
                        <li class="menupop" id="help">
                            <a href="/site/faq/" class="submenu_link">Hjælp</a>
                            <ul class="submenu"> 
                                <li><a href="/">Om boku</a></li>
                                @*<li><a href="/site/faq/">Common Questions</a></li>*@
                                @*			                        <li><a href="/site/implement/">Developer Resources</a></li>
			                    <li><a href="http://blog.gravatar.com/">Read Our Blog</a></li>
			                    <li><a href="http://automattic.com/privacy/">Privacy Policy</a></li>
			                    <li><a href="/site/terms-of-service/">Terms of Service</a></li>
			                    <li><a href="/site/abuse/">Report Abuse</a></li>
*@		                        </ul>
                        </li>
                        <li class="menupop" id="login">
                            @Html.Partial("_UserMenu")
                        </li>
                        <li class="menupop" id="welcome">
                            @Html.Partial("_LoginPartial")
                        </li>  
                    </ul>
                    </div>
            </div>
            <div id="overlay" style="display: none; height: 1208px; width: 1583px; "></div>
            <div id="main">
                <div class="middle">
                    <div class="box-top"></div>
                        <div class="box">
                            <div class="content">
                                @RenderSection("featured", required: false)
                                <section class="content-wrapper main-content clear-fix">
                                    @RenderBody()
                                </section>
                            </div>
                        </div>
                    <div class="box-bottom"></div>
                </div>
            </div>
            <div id="footer">

            </div>
        </div>
    </body>
</html>
